env:
  digitalocean_token: # Digital Ocean Access Token (Full Access)
  buildkite_token: # Buildkite Access Token (Full Access)

sites:
  spec:
    hostname:
    git: https://github.com/OParl/spec-website.git
    db:
      name: oparl
      username:
      password:
    env:
      app_key: # App Key

      buildkite_project: # Buildkite project for specification updates
      buildkite_deploy_key: # Deploy key for specification updates

      github_client_id: # GitHub client id
      github_client_secret: GitHub client secret
      github_webhook_secret: GitHub spec update webhook secret
      
      pusher_key: # Pusher key (for requested builds)
      pusher_secret: # Pusher secret
      pusher_app_id: # Pusher app id

  demoserver:
    hostname:
    git: https://github.com/OParl/php-server.git
    db:
      name: oparl_api_demo
      username:
      password:
    env:
      app_key: # Application Encryption Key
