env:
  digitalocean_token: # Digital Ocean Access Token (Full Access)
  buildkite_token: # Buildkite Access Token (Full Access)

sites:
  spec:
    hostname:
    git: https://github.com/OParl/spec-website.git
    db:
      name: oparl
      username:
      password:
    env:
      github_secret: # GitHub WebHook Secret
      app_key: # Application Encryption Key

  demoserver:
    hostname:
    git: https://github.com/OParl/php-server.git
    db:
      name: oparl_api_demo
      username:
      password:
    env:
      app_key: # Application Encryption Key
